NEXT_PUBLIC_API_URL=http://127.0.0.1:8000
NEXT_PUBLIC_PHONE_DISPLAY=+7 778 652 68 72
NEXT_PUBLIC_WHATSAPP_URL=https://wa.me/77786526872
NEXT_PUBLIC_INSTAGRAM_URL=https://www.instagram.com/veema__astana/
NEXT_PUBLIC_CONTACT_EMAIL=hello@veema.kz
NEXT_PUBLIC_CONTACT_ADDRESS=Казахстан
